body {
	background-color: grey
 }
 
a  {
	text-decoration: none;
	color: green;
 }

 h2 {
 	color: red;
 	font-family: arial;
 	font-size: 24px
 }

 img {
 	width: 180px
 }

 .card{
 	text-align: center;
 	background-color: white;
   padding: 30px;
   margin: 40px;
   box-shadow: 0px 10px rgba(0,0,0,0.1);
}

.container {
	width: 600px;
	margin: 0 auto;
}